<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ guild_info.name }} Roles Dashboard | Wavey</title>
    <link rel="stylesheet" href="./../static/feedback.css">
    <script src="https://kit.fontawesome.com/21a6420c46.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<body>
    <header class="navbar">
        <div class="container nav-container">
            <div class="brand">
                <a href="/">
                    <img src="./../static/images/waveyweblogo.png" alt="wavey Logo" width="100px"/>
                </a>
            </div>
            <nav class="navigation">
                <ul class="nav-list">
                    <li class="nav-link"><a href="/dashboard">Dashboard</a></li>
                    <li class="nav-link"><a href="/support">Support</a></li>
                    <li class="nav-link"><a href="/invite">Invite</a></li>
                    <button class="hamburger" onclick="toggleMenu()" aria-label="Mobile Menu"><span class="lnr lnr-menu"></span></button>
                </ul>
            </nav>
        </div>
      </header>

<section class="sidebar close">
    <div class="guild-info">
        <img href="{{ guild_info.icon }}">
        <h2 class="server-name-header">{{ guild_info.name }}</h2>
    </div>
    <h4 class="functionality-settings-header">Functionality Settings</h3>
    <div class="sidebar-home">
        <button class="home-buttom"><a href="/dashboard/{{ guild_info.id }}"><img src="./../static/images/gearwavey.png" width="20px"> Settings</a></button>
    </div>
    <div class="sidebar-roles">
        <button class="roles-buttom"><a href="/roles/{{ guild_info.id }}"><img src="./../static/images/usericonwavey.png" width="20px"> Roles</a></button>
    </div>
    <div class="modules-settings">
        <h4 class="modules-settings-header">Modules Settings</h3>
    </div>
    <div class="sidebar-module-1">
        <button class="module-1-buttom"><a href="/feedback/{{ guild_info.id }}"><img src="./../static/images/waveyfeedback.png" width="20px"> Feedback</a></button>
    </div>
    <div class="sidebar-module-2">
        <button class="module-2-buttom"><a href="/roles/{{ guild_info.id }}"><img src="./../static/images/waveypayment.png" width="20px"> Payment</a></button>
    </div>
    <div class="sidebar-module-3">
        <button class="module-3-buttom"><a href="/roles/{{ guild_info.id }}"><img src="./../static/images/waveydesign.png" width="20px"> Designs</a></button>
    </div>
    <div class="sidebar-module-4">
        <button class="module-4-buttom"><a href="/roles/{{ guild_info.id }}"><img src="./../static/images/waveyloa.png" width="20px"> Leave Of Absence</a></button>
    </div>
    <div class="sidebar-module-5">
        <button class="module-5-buttom"><a href="/welcome/{{ guild_info.id }}"><img src="./../static/images/waveywelcome.png" width="20px"> Welcome</a></button>
    </div>
    <div class="sidebar-module-6">
        <button class="module-6-buttom"><a href="/roles/{{ guild_info.id }}"><img src="./../static/images/loaquota.png" width="20px"> Quota</a></button>
    </div>
</section>
<section>
    <div class="save-button">
        <button onclick="saveHex()" class="visible-button">Save</button>
    </div>
</section>

<section class="main-screen">
    <div class="feedback-header">
        <img src="./../static/images/waveyfeedback.png" width="20px">
        <h2 class="feedback-header">Feedback</h2>
    </div>
    <div class="description-header">
        <h3 class="staff-roles-description">Setup the feedback module.</h3>
    </div>
    <div class="save-button">
        <button onclick="saveChannel()" class="visible-button">Save</button>
    </div>
    <div class="box-1">
        <h2 class="toggle-feedback-header">Toggle Feedback</h2>
        <h3 class="toggle-feedback-desc"> Select the roles you would like to use for your</h3><h3 class="toggle-feedback-desc-1">designer roles.</h3>
        <section class="toggle-button-section">
            <label class="switch">
                <input type="checkbox" id="botFeedbackToggle" onchange="toggleFeedback()">
                <span class="slider round"></span>
            </label>
        </section>        
    </div>
    <div class="box-2">
        <h2 class="management-roles-header">Feedback Channel</h2>
        <h3 class="management-roles-desc"> Select the Channel you would like your feedback to go.</h3>
        <div class="dropdown-1">
            <select id="rolesDropdown1">
                <option value="" class="dropdown-content-1" selected disabled>Select a channel</option>
                {% for channel in guild_channels %}
                <option value="{{ channel.id }}">{{ channel.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</section>
<input type="hidden" id="guild_id" value="{{ guild_info.id }}">

<div id="alertContainer"></div>
<div id="alertBadContainer"></div>\

</body>
  <script type="text/javascript" src="./../static/js/hamburger.js"></script>
  <script type="text/javascript" src="./../static/js/feedbackchannel.js"></script>
  <script type="text/javascript" src="./../static/js/togglefeedback.js"></script>
</html>