<!-- 
 ______   ______  ____   ___  
 ___\ \ / /  _ \|  _ \ / _ \ 
 \___ \\ V /| |_) | |_) | | | |
 ___) || | |  __/|  _ <| |_| |
 |____/ |_| |_|   |_| \_\\___/ 
 -->

 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8">
     <title>Spyro</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" type="image/png" href="./images/spyrologo.png">
 
     <link rel="stylesheet" type="text/css" href="./css/coloring.css">
     <link rel="stylesheet" type="text/css" href="./static/template.css">
 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 </head>
 <body class="on">
     <div class="loading" id="loading-box">
         <div class="loading-item"><div class="loading-progress"></div></div>
     </div>
 
     <main class="main">
         <!-- navbar -->
         <div class="navbar">
             <div class="container">
                 <div class="navbar-nav">
                     <div class="navbar-brand">
                         <span class="navbar-brand-txt"><a class="txt-bold type-1" href="/">Spyro</a></span>
                     </div>
 
                     <span class="navbar-toggler" id="toggler"><i onclick="toggleNavbar(this)" class="fas fa-bars"></i></span>
 
                     <div class="navs" id="navs">
                         <div class="navs-item notbtn"><a href="#" class="txt-uppercase">Invite</a></div>
                         <div class="navs-item notbtn"><a href="#" class="txt-uppercase">Dashboard</a></div>
                         <div class="navs-item"><a href="login"><button class="btn txt-uppercase shadow-sm">Login</button></a></div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- navbar end -->
<hr class="separator-line">

<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>
