<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <title>Spyro</title>
    <link rel="stylesheet" href="./../static/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img class="navlogo" src="./../static/images/spyrowhite.svg" alt="spyro.svg">
            <h3>Spyro</h3>
        </div>
        <ul class="nav-links">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Invite</a></li>
        </ul>
        {% if user %}
            <div class="dropdown">
                <button onclick="dropdown()" class="dropbtn"><div class="navs-item notbtn"><img class="avatar-img" src="{{ user.avatar_url }}" alt="Avatar" /></div></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/redirect/roblox">Link Roblox</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/adminpanel">Admin Panel</a>
                    <a href="/logout">Logout</a>
                 </div>
            </div>
        {% else %}
            <a href="/login"><button class="login-button">Login</button></a>
        {% endif %}
    </div>
    <div class="content">
        <div class="top">
            <p class="text-top">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
            <img class="content-logo" src="./../static/images/spyrowhite.svg" alt="spyro.svg">
        </div>
        <div class="bottom">
            <button class="button add">Add To Server</button>
            <button class="button dashboard">Dashboard</button>
        </div>
    </div>
</body>
<footer>
    <div class="footer-content-1"><a href="#">Dashboard</a></div>
    <div class="footer-content-1"><a href="#">Support</a></div>
    <div class="footer-content-1"><a href="#">Invite</a></div>
</footer>
</html>


<script>
    function dropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }


</script>