<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <title>Spyro</title>
    <link rel="stylesheet" href="./../static/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/21a6420c46.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img class="navlogo" src="./../static/images/spyrowhite.svg" alt="spyro.svg">
            <h3>Spyro</h3>
        </div>
        <ul class="nav-links">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Invite</a></li>
        </ul>
        a href="/login"><button class="login-button">Login</button></a>
</body>
<footer>
  
        Footer for now
</footer>
  
</html>


<script>
    function dropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }


</script>