<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <title>Spyro</title>
    <link rel="stylesheet" href="./../static/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/21a6420c46.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<div class="brand">
  <img src="./../static/images/spyronav.svg" width="50px" />
</div>
<header class="navbar">
  
  <div class="container nav-container">
      <nav class="navigation">
          <ul class="nav-list">
              <li class="nav-link"><a href="">Home</a></li>
              <li class="nav-link"><a href="">About</a></li>
              <li class="nav-link"><a href="">Contact</a></li>
              <li class="nav-link"><a href="">Docs</a></li>
              <button class="hamburger" onclick="toggleMenu()" aria-label="Mobile Menu"><span class="lnr lnr-menu"></span></button>
          </ul>
          {% if user %}
          <div class="dropdown">
              <button onclick="dropdown()" class="dropbtn"><div class="navs-item notbtn"><img class="avatar-img" src="{{ user.avatar_url }}" alt="Avatar" /></div></button>
              <div id="myDropdown" class="dropdown-content">
                  <a href="/redirect/roblox">Link Roblox</a>
                  <a href="/dashboard">Dashboard</a>
                  <a href="/adminpanel">Admin Panel</a>
                  <a href="/logout">Logout</a>
               </div>
          </div>
          {% else %}
              <a href="/login"><button class="login-button">Login</button></a>
          {% endif %}
        
      </nav>
  </div>
</header>


<section class="main-hero">
  <div class="container">
      <center><div class="hero-content">
          <h2 class="h2-hero">Hello and Welcome!</h2>
          <p class="p-hero">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget egestas neque. Integer sodales luctus mi aliquam sodales. Proin suscipit vitae libero non feugiat. Integer volutpat consequat ante, at blandit justo blandit at. In sit amet ornare velit. Nulla bibendum, ex sed sollicitudin lobortis, quam quam maximus turpis, in ullamcorper quam libero porta turpis. Donec sit amet lacus nec dui aliquet luctus. Cras placerat lorem faucibus erat volutpat sagittis. Praesent accumsan velit vel faucibus placerat.</p>
          <a href="" class="button">Click Here</a>
      </div></center>
  </div>
</section>
<section class="section1">
  <div class="container">

  </div>
</section>
<section class="section2">
  <div class="container">

  </div>
</section>
<section class="section3">
  <div class="container">

  </div>
</section>
<section class="section4">
  <div class="container">

  </div>
</section>
<footer class="footer">
  <div class="container">

  </div>
</footer>
</body>
  <script type="text/javascript" src="./../static/js/hamburger.js"></script>
  <script type="text/javascript" src="./../static/js/dropdown.js"></script>
</html>
