<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <title>Spyro</title>
    <link rel="stylesheet" href="./../static/oauth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<link rel="icon"
    type="image/png"
    href="<%=domain%>/logo.png">
<body>
    
   <div class="container-contact">
            <div class="wrap-contact">
                
                    <span class="contact-form-title">Thank you for inviting <span class="text-primary font-weight-bold">Thunder</span> </span>
<h4>Thank you for inviting Thunder. It Means a lot to Us!<br>Need help? <a href="/support">Join our Support Server</a></h4>
<br>
<button onclick="window.location.href='/'">Go Back</button>
</div>
</div>