<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wavey</title>
    <link rel="stylesheet" href="./../static/landing.css">
    <link rel="stylesheet" href="./../static/server-select.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/21a6420c46.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <header class="navbar">
    <div class="container nav-container">
        <div class="brand">
            <a href="/">
                <img src="./../static/images/waveyweblogo.png" alt="wavey Logo" width="100px"/>
            </a>
        </div>
        <button class="hamburger" aria-label="Mobile Menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-link"><a href="/dashboard">Dashboard</a></li>
            <li class="nav-link"><a href="/support">Support</a></li>
            <li class="nav-link"><a href="/invite">Invite</a></li>
          {% if user %}
          <div class="dropdown">
            <div class="navs-item notbtn">
              <button onclick="toggleDropdown()" class="dropbtn">
                <img class="avatar-img" src="{{ user.avatar_url }}" alt="Avatar" />
              </button>
            </div>
            <div id="myDropdown" class="dropdown-content">
              <a href="/dashboard">Dashboard</a>
              <a href="/adminpanel">Admin Panel</a>
              <a href="/logout">Logout</a>
            </div>
          </div>
          {% else %}
          <div class="login">
            <button class="login-button"><a href="/login">Login</a></button>
          </div>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
  <div class="header-hero">
    <h2 class="welcome-header">{{ username }}, Select A Server To Manage</h2>
  </div>
  <section class="main-servers">
    <div class="server-row">
        {% for guild_info in admin_servers %}
            {% if loop.index0 % 5 == 0 %}
                </div> 
                <div class="server-row">
            {% endif %}
            {% if guild_info %}
                <div class="server-content">
                    <div class="server-info">
                      <img src="{{ guild_info.icon ? guild_info.icon : '/static/images/default_icon.png' }}" alt="Guild Icon">

                        <h2 class="h2-server-name">{{ guild_info.name }}</h2>
                        <img class="server-img" src="{{ guild_icons[loop.index0] }}" width="150px" alt="Server Image" />
                        <div class="dashboard-buttons">
                            <button class="dashboard-button"><a href="/dashboard/{{ guild_info.id }}">Dashboard</a></button>
                            <button class="mod-panel-button"><a href="">Designer Panel</a></button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

<footer class="footer">
  <div class="footer-logo">
    <img src="./../static/images/waveyweblogo.png" width="100px" alt="waveylogo">
    <div class="footer-copyright-center">Copyright © 2023 Wavey - All rights reserved.</div>
  </div>
  <div class="footer-container-1">
      <ul class="wavey-footer-list">
          <h4 class="footer-h2">Wavey</h2>
          <li class="footer-link-wavey"><a href="/">Home</a></li>
          <li class="footer-link-wavey"><a href="/dashboard">Dashboard</a></li>
          <li class="footer-link-wavey"><a href="https://docs.swiftbot.xyz">Docs</a></li>
      </ul>
  </div>

  <div class="footer-container">
      <ul class="other-footer-list">
          <h4 class="footer-h2">Other</h2>
          <li class="footer-link"><a href="/tos">Terms of Service</a></li>
          <li class="footer-link"><a href="/policy">Privacy Policy</a></li>
          <li class="footer-link"><a href="/">FAQ</a></li>
      </ul>
  </div>
</footer>
</body>
  <script type="text/javascript" src="./../static/js/hamburger.js"></script>
  <script type="text/javascript" src="./../static/js/dropdown.js"></script>
</html>
