body {
    background-color: grey;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.start-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 500px;
    width: 150px;
    height: 30px;
    top: 145px;
}
.start-button button{
    border-radius: 15px;
    background-color: green;
    border: none;
    font: ;
}
.bot-header{
    display: flex;
    justify-content: center;
}
.bot-token{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.bot-token-password{
    width: 550px;
    height: 50px;
    border-radius: 15px;
    color: #000;
    border: none;
    
}