<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Spyro | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./images/spyrologo.png">
    <link rel="stylesheet" type="text/css" href="./static/servers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="./images/spyrologo.png">
    <link rel="stylesheet" type="text/css" href="./static/landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="on">
    <div class="loading" id="loading-box">
        <div class="loading-item"><div class="loading-progress"></div></div>
    </div>

    <main class="main">
        <div class="navbar">
            <div class="container">
                <div class="navbar-nav">
                  <a href="#"><div class="navbar-brand">
                        <img  src="https://cdn.discordapp.com/attachments/1176631274702639195/1176969356241010780/image.png?ex=6570cd21&is=655e5821&hm=57ac7021a72d416eeba95d09e2925d0cd02d9f68c346224f5f204e55bc88487c&" alt="Logo">
                    </div></a>
                    <div class="navs" id="navs">
                      <div class="navs-item notbtn"><a href="/" class="txt-uppercase">Home</a></div>
                      <div class="navs-item notbtn"><a href="support" class="txt-uppercase">Support</a></div>
                      <div class="navs-item notbtn"><a href="/invite" class="txt-uppercase">Invite</a></div>
                      <div class="navs-item notbtn"><a href="/dashboard" class="txt-uppercase">Dashboard</a></div>


                  </div>
                  <div class="navs" id="navs">

                    {% if user %}
                      <div class="dropdown">
                        <button onclick="dropdown()" class="dropbtn">
                          <div class="navs-item notbtn">
                            <img class="avatar-img" src="{{ user.avatar_url }}" alt="Avatar" />
                          </div>
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                          <div class="dropdown-item">
                            <br>
                            <span class="username"><span class="username">{{ user.username }}</span></span>
                            <br>
                            <br>
                            <a href="/dashboard"><i class="far fa-user"></i> Dashboard</a>
                          </div>
                          <div class="dropdown-item">
                            <a href="#"><i class="fas fa-cogs"></i> Admin Panel</a>
                          </div>
                          <div class="dropdown-item">
                            <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <div class="navs-item notbtn">
                        <a href="/login"><button class="btn txt-uppercase shadow-sm">Login</button></a>
                      </div>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="./js/script.js"></script>
    </main>
    <div class="content">
        <h2>Welcome, {{ user.username }}</h2>

        <div class="servers" id="guildSection">
            {% for guild in user.guilds %}
                <div class="server">
                    <div class="icon-and-name">
                        <img class="server-icon" src="{{ guild.icon_url }}" alt="" />
                        <p class="guild-name">{{ guild.name }}</p>
                    </div>
                    <a class="edit button" href="/dashboard/{{ guild.id }}" style="margin-right: 10px;">Dashboard</a>
                    <a class="button" href="/dashboard/{{ guild.id }}">Admin Panel</a>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
<script>
    function dropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }


</script>
<style>
    .dropbtn {
      border: none;
      cursor: pointer;
      appearance: none;
      background-color: inherit;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #363636; /* Change this to the desired dark grey color */
      right: 0;
      margin-top: 12%;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .username {
      margin-left: 10px;
      color: #fff;
      font-weight: bold;
    }
  
  .dropdown-item {
    margin-bottom: 5px;
  }
  .dropdown-content a:hover {background-color: #494949;}
  
  .show {display:block;}

  </style>
</html>
