html, 
body {
    background:  #111;
    color: white;
    padding: 10;
    margin: 10;
    font-family: 'Poppins', sans-serif;
}

/* navbar start */

.container {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:80%;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    border: #dcdcdc;
    background: #111;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    top: 60px;
    z-index: 1000;
    height: auto;
    margin-left: 50px;
    margin-bottom: 150px;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-right: 710px;
}
.nav-link a {
    text-decoration:none;
    color:white;
    padding-right:30px;
}

.nav-link a:hover {
    color:#43AC7B;
}

.brand {
    display: flex;
    margin-right: 570px;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0;
    top: 60px;
    z-index: 1000;
    height: auto;
    margin-bottom: 125px;
}

.hamburger { 
    display:none;
}

/* navbar end*/

/*side bar items */


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 70px;
    border: 1px solid #28272D;
    width: 300px; 
    background: #111;
    z-index: 100;
}
.guild-info {
    display: flex;
    justify-content: center;
    margin-left: 5px; 
    font-size: 15px;
}
.functionality-settings-header{
    position: absolute;
    left: 10px
}
.modules-settings{
    position: absolute;
    top: 200px;
    left: 10px
}
.sidebar-module-1{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 250px;
    left: 25px; 
}
.sidebar-module-2{
    display: flex;
    justify-content: center;
    position: absolute;
    top:300px;
    left: 25px; 
}
.sidebar-module-3{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 350px;
    left: 25px; 
}
.sidebar-module-4{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 400px;
    left: 25px; 
}
.sidebar-module-5{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 450px;
    left: 25px; 
}
.sidebar-module-6{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 500px;
    left: 25px; 
}
.sidebar-home{
    display: flex;
    position: absolute;
    top: 120px;
    justify-content: center;
    left: 25px;
}
.sidebar-roles{
    display: flex;
    position: absolute;
    top: 165px;
    justify-content: center;
    left: 25px; 
}
.roles-buttom,
.home-buttom {
    width: 250px;
    height: 50px;
    background: #111;
    border: none;
}
.module-1-buttom,
.module-2-buttom,
.module-3-buttom,
.module-4-buttom,
.module-5-buttom,
.module-6-buttom,
.roles-buttom,
.home-buttom {
    width: 250px;
    height: 50px;
    background: #111;
    border: none;
}

.module-1-buttom:hover,
.module-2-buttom:hover,
.module-3-buttom:hover,
.module-4-buttom:hover,
.module-5-buttom:hover,
.module-6-buttom:hover,
.roles-buttom:hover,
.home-buttom:hover {
    width:250px;
    height: 50px;
    background: #1d1d1e;
    border-radius: 10px;
}

.module-1-buttom a,
.module-2-buttom a,
.module-3-buttom a,
.module-4-buttom a,
.module-5-buttom a,
.module-6-buttom a,
.roles-buttom a,
.home-buttom a {
    text-decoration: none;
    color: #fff;
    font: poppins;
    font-size: 14px;
    font-weight: 550;
    display: flex;
    margin: 15px;
    align-items: center;
}



/* dashboard items */

.feedback-header{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-right:910px;
}
.feedback-header img{
    display: flex;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-top: 40px;
    margin-right: 15px;
}
.description-header{
    display: flex;
    position: absolute; 
    top: 65px;
    left:360px;
    font-size: 15px;
}
/* card items */
.main-screen{
    background:#191919;
    position: fixed;
    height: 100%;
    margin-top: 70px;
    width: 100%; 
    position: fixed;
    border: 1px solid #28272D;
    top: 0;
    left: 0;
}
.bg-main{
    background:#111;
    position: fixed;
    height: 50%;
    margin-top: 350px;
    width: 70%; 
    position: fixed;
    border: 1px solid #28272D;
    top: 0;
    left: 0;
}
.toggle-feedback-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    left: 380px;
    color:#43AC7B;
    top: 205px;
}

.toggle-feedback-desc{
    display: flex;
    justify-content: center;
    font-size: 17px;
    position: absolute;
    top: 260px;
    left: 380px; 
    
}
.toggle-feedback-desc-1{
    display: flex;
    justify-content: center;
    font-size: 17px;
    position: absolute;
    top: 285px;
    left: 380px; 
    
}

.feedback-inpu-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    color:#43AC7B;
    bottom: 100px;
    right: 142px; 
    
}
.management-roles-desc{
    display: flex;
    justify-content: center;
    font-size: 17px;
    position: absolute;
    bottom: 55px;
    left: 20px; 
    
}

.box-1 {
    display: flex;
    justify-content: center;
    margin-top: 95px;
    margin-left: 360px;
    background: #121212;
    border-radius: 10px;
    height: 190px;
    border: 1px solid #43AC7B;
    width: 450px;
    box-shadow: 0 0 15px rgba(67, 172, 123, 0.8); 
}

.box-2 {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 503px;
    right: 560px;
    transform: translateY(-50%);
    margin-left: 1100px;
    background: #121212;
    border-radius: 10px;
    height: 190px;
    border: 1px solid #43AC7B;
    width: 450px;
    box-shadow: 0 0 15px rgba(67, 172, 123, 0.8);
}


/* toggle button */


.toggle-button-section {
    display: flex;
    align-items: center;
    position: absolute;
    top: 239px;
    left: 700px;
}

.toggle-label {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #43AC7B;
}

input:focus + .slider {
    box-shadow: 0 0 1px #43AC7B;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* other */

.dropdown-1 select{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 105px;
    color: white;
    background: #3a3939;
    border-radius: 5px;    
    height: 50px;
    width: 400px;
    top: 130px;
    left: 18px;
}

.visible-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #43AC7B;
    color: #fff;
    height: 40px;
    width: 100px;
    font-size: 20px;
    font-weight: 700px;
    position: fixed; 
    bottom: 450px; 
    right: 1410px; 
    border-radius: 5px; 
    cursor: pointer;
}

/* functions */

.show {display:block;}

#alertContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #111;
    border: 1px solid #43AC7B;
    color: white; 
    padding: 15px;
    border-radius: 5px;
    display: none; 
}
#alertBadContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #111; 
    border: 1px solid #FF0000; 
    color: white; 
    padding: 15px; 
    border-radius: 5px;
    display: none;
}
/* Mobile CSS */
@media screen and (max-width: 999px) {
    .container {
        max-width: 90%; 
    }

    .nav-container {
        flex-direction: column; 
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #000;
        z-index: 1000;
        position: absolute;
        top: 80px;
        left: 0;
        height: auto;
    }

    .nav-link {
        padding: 10px;
        text-align: left;
        padding-left: 10%;
        border-bottom: 0.5px solid white;
    }

    .nav-link a {
        padding: 10px 0;
        display: block;
        color: white;
    }

    .hamburger {
        display: block;
        color: white;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .hamburger:focus {
        outline: none;
    }

    .hero-content {
        width: 100%;
        max-width: 90%;
    }

    .h2-hero {
        font-size: 40px;
        margin-bottom: 10%;
    }

    .p-hero {
        margin-bottom: 18%;
    }

    .avatar-img,
    .login-button {
        margin-left: 10px; 
    }

    .footer-container,
    .footer-container-1 {
        margin-right: 10px; 
    }

    .footer-logo img {
        margin-right: 10px; 
    }

    .footer {
        margin-top: 50px; 
    }

    .footer-link,
    .footer-link-wavey {
        font-size: 14px; 
        margin-right: 20px;
    }

    .footer-link-wavey {
        margin-right: 10px; 
    }
}

