:root {
    --primary: #121212;
    --primary-disabled: #11A8FF;
    --secondary: white;
    --secondary-disabled: #ababab;
    --third: #11A8FF;
    --third-disabled: #11A8FF;
    --o1: #11A8FF;
    --o1-disabled: #11A8FF;
}  

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    color: var(--secondary);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #121212, #262626);
}

body.on {
    overflow: hidden !important;
}

.btn {
    border: none;
    background-color: var(--third);
    padding: 10px 30px;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.2s;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--secondary-disabled);
    font-weight: bold;
}

.nav-links a:hover {
    color: var(--secondary);
}

.login-button {
    border: none;
    background-color: var(--third);
    padding: 10px 30px;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    text-decoration: none;
}

.login-button:hover {
    background-color: var(--primary-disabled);
}

/* mobile */
@media screen and (max-width: 999px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
    }
    
    .nav-links a {
        text-decoration: none;
        color: var(--secondary-disabled);
        font-weight: bold;
    }
    
    .nav-links a:hover {
        color: var(--secondary);
    }
    
    .login-button {
        border: none;
        background-color: var(--third);
        padding: 10px 30px;
        border-radius: 35px;
        cursor: pointer;
        transition: 0.2s;
        color: white;
        text-decoration: none;
    }
    
    .login-button:hover {
        background-color: var(--primary-disabled);
    }
    .hamburger {
        display: block;
        color: white;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .hamburger:focus {
        outline: none;
    }

    .nav-list {
        display: none;
    }

    .hero-content {
        width: 100%;
        max-width: 90%;
    }

    .h2-hero {
        font-size: 40px;
        margin-bottom: 10%;
    }
    
    .p-hero {
        margin-bottom: 18%;
    }
}
