body {
    background-color:#111;
    margin: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: Poppins, sans-serif;
}

.navbar {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    background: #0095F0;
    align-items: center;

}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    list-style: none;
    text-decoration: none;
    margin-right: 4rem;
    font-weight:500 ;
    
}
a {
    text-decoration: none;
    color: white;
    font-weight:500 ;
}

.navlogo {
    
    width: 4.5rem;
    flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.login-button{
    width: 7rem;
    font: poppins;
    height: 2.5rem;
    border: none;
    
    margin-right: 0.5rem;
    border-radius: 12px;
    font-weight: 700;
    color: #0095F0;
    font-size: 1.2rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;  
    margin-top: 4rem;  
    justify-content: center;
    font-weight: 500;
    font-size: 3.5rem;
    margin-bottom: -3rem;
}

.content-logo{
    width: 30%;
  

}

.text-top{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.bottom{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-weight: 500;
    font-size: 3.5rem;
}

.button{
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    margin-top: 2rem;
    height: 4rem;
    width: 12rem;
    margin-bottom: 3.7rem;
    border-radius: 12px;
    border: 3.5px solid #005E98;
    background: #0095F0;
    margin-left: 1rem;
    margin-right: 1rem;

}

.dashboard{
    color: white;
    background: #2A2A2A;
}
.add{
    color: white;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A2A2A;
    height: 4rem;
    width: 100%;
    flex-shrink: 0;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    bottom: 0;
}

.dropbtn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  right: 0;
  margin-top:12%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}

.avatar-img{
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-left: 1rem;
}
.features-box .features-t {
	font-size: 30px;
	text-align: center;
	margin-bottom: 25px;
}

.features-box .features-t::after {
	content: "";
	display: block;
	border-bottom: 3px solid var(--third);
	width: 10%;
	margin: 0 auto;
	border-radius: 50px;
	margin-top: 7px;
	min-width: 70px;
}

.features {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.features .feature {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 30px 0;
}

.features .feature:nth-child(2) {
	flex-direction: row-reverse;
}

.feature .feature-img {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.feature .feature-info {
	max-width: 400px;
	border-radius: 5px;
	padding: 10px;
	margin: 10px auto;
}

.feature .feature-info .feature-info-d {
	color: var(--secondary-disabled)
}

.feature .feature-info .feature-info-t {
	font-size: 30px;
	font-weight: bold;
}