html,
body {
    background: #000;
    color:white;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:80%;
}

.button {
    padding:8px 25px;
    border:1px solid white;
    background-color: #000;
    color:white;
    text-decoration:none;
    border-radius: 100px;
}

.button:hover {
    border:1px solid black;
    background-color: #fff;
    color:black;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.navbar {
    width:100%;
    padding-top:10px;
    padding-bottom:10px;

}

.nav-list {
    list-style:none;
    display:flex;
    padding:0;
    float:right;
}

.nav-link a {
    text-decoration:none;
    color:white;
    padding-right:30px;
}

.nav-link a:hover {
    color:#b3b3b3;
}

.brand {
    fill:white;
    filter:invert(1);
}

.hamburger { 
    display:none;
}

.hamburger.active + .navigation .nav-list {
    display: flex; /* Show nav links when hamburger is active */
}

.main-hero {
    padding-top:8%;
    padding-bottom:8%;
    width:100%;
    text-align: center;
}

.hero-content {
    width:100%;
    max-width:60%;
}

.h2-hero {
    font-size:40px;
    margin-bottom:6%;
}

.p-hero {
    margin-bottom:6%;
}

/
@media screen and (max-width: 999px) {
    .nav-list {
        display: none; 
        position: absolute;
        top: 80px; 
        left: 0;
        width: 100%;
        background: #000;
        z-index: 1000;
        flex-direction: column;
        height:80%;
    }

    .nav-link {
        padding: 10px;
        text-align: left;
        padding-left:10%;
        border-bottom:1px solid white;
    }

    .nav-link a {
        padding: 10px 0;
        display: block;
        color: white; 
    }

    .hamburger {
        display: block;
        color: white;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .hamburger:focus {
        outline: none;
    }
    .nav-list {
        display: none; 
    }
    .hero-content {
        width:100%;
        max-width:90%;
    }
    .h2-hero {
        font-size:40px;
        margin-bottom:10%;
    }
    
    .p-hero {
        margin-bottom:18%;
    }
}