.main-servers {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    height: 100vh; /* Make the container full height of the viewport */
}

.server-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
}

.server-content {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    background: #313131;
    width: 500px;
    height: 450px;
    border-radius: 15px;
}

.h2-server-name {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 300px;
    padding-left: 250px;
    width: 100%;
}

.server-img {
    display: flex;
    border-radius: 100%;
    margin-right: 300px ;
    background: #D9D9D9;
    height: 150px;
    margin-bottom: 100px;
    width: 200px;
    /* Remove margin properties to center horizontally and vertically */
}
.dashboard-button