.main-servers{
    display: flex;
    justify-content: center;
}
.server-container{
    display: flex;
    justify-content: center;
}
.server-content{
    display: flex;
    justify-content: center;
    background: #313131;
    width: 100px;
    height: 200px;
    border-radius: 15px;

}