.main-servers{
    display: flex;
    justify-content: center;
}
.server-container{
    display: flex;
    justify-content: center;
}
.server-content{
    display: flex;
    justify-content: center;
    background: #313131;
    width: 450px;
    height: 400px;
    border-radius: 15px;
}
.h2-server-name{
    display: flex;
    justify-content: center;
    margin-left: 540px;
    padding-bottom: 10px;
}
.server-img{
    display: flex;
    margin-right: 340px;
    margin-top: 100px;
    border-radius: 100%;
}