:root {
	/* 
	* this is primary color, applied on:
	* background, underline
	 */
	--primary: #121212;
	--primary-disabled: #11A8FF;
	/*
	* this is secondary color, applied on:
	* text, border
	*/
	--secondary: white;
	--secondary-disabled: #ababab;
	/*
	* this is third color, applied on:
	* button, 
	*/
	--third: #11A8FF;
	--third-disabled: #11A8FF;
	/*
	* other colors, used on random object.
	*/
	--o1: #11A8FF;
	--o1-disabled: #11A8FF;
}  
/*
* font - from google font
* https://fonts.google.com/
*/
/* Add these styles to your existing CSS file or create a new one */

.jumbotron-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align buttons to the right */
}

.jumbotron-buttons button {
    margin-top: 10px; /* Adjust as needed for spacing between buttons */
}

/* Optional: Center the buttons horizontally in the container */
.jumbotron-items {
    display: flex;
    justify-content: space-between;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	color: var(--secondary);
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}

html, body {
	scroll-behavior: smooth;

}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #121212, #262626);
    margin: 0;
}

body.on {
	overflow: hidden !important;
}

.btn {
	border: none;
	background-color: var(--third);
	padding: 10px 30px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.2s;
}


/* navbar */
.navbar-nav  {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

.navbar-toggler {
	display: none;
	position: absolute;
	z-index: 5;
	right: 0;
	top: 0;
	margin: 20px;
}

.navbar-toggler i {
	font-size: 30px;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

.navbar-brand-txt a {
	font-size: 24px;
	letter-spacing: 1px;
}

.navs {
	display: flex;
	align-items: center;
}

.navs .navs-item {
	margin: 0px 10px;
	padding: 10px;
	font-weight: bold;
}

.navs .navs-item a {
	font-size: 14px;
	color: var(--secondary-disabled);
}

.navs .navs-item a:hover {
	color: var(--secondary);
}

.navs .navs-item a button {
	font-size: 14px;
}

.navs .navs-item.notbtn {
	margin: 0px 10px;
	transition: 0.3s;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}

.navs .navs-item.notbtn:hover {
	/*transform: scale(1.1);*/
	font-weight: bold;
	background-color: #11A8FF;
}
.navs .navs-item.notbtn:focus {
	/*transform: scale(1.1);*/
	font-weight: bold;
	background-color: #11A8FF;
	border-radius: 4px;	
}

.navs-item .btn {
	font-weight: bold;
}
/* navbar end */



/* mobile */
@media (max-width: 992px) {

	/* navbar mobile version */
	.navbar-toggler {
		display: block;
	}

	.navs {
		flex-direction: column;
		background-color: var(--primary-disabled);
		transform: translateX(110%);
		position: fixed;
		z-index: 2;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		transition: 1s;
		justify-content: center;
		align-items: center;
	}

	.navs.on {
		transform: translateX(0%);
		overflow: hidden;
	}

	.navs .navs-item {
		width: 100%;
		text-align: center;
		margin: 10px 0px;
	}

	.navs-item a button {
		width: 100%;
	}
        /* Add or update these styles in your coloring.css file */
    .user-avatar {
        width: 32px; /* Adjust the size as needed */
        height: 32px; /* Adjust the size as needed */
        border-radius: 50%; /* Make it circular */
        object-fit: cover;
    }


}